@import "tailwindcss";

/* This forces Tailwind v4 to listen to our Sun/Moon button instead of your OS settings */
@variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Poppins', sans-serif;
}

/* 3. Override the default Tailwind sans-serif font */
@theme {
  --font-sans: "Poppins", sans-serif;
}
  /* Keep your smooth scrolling */
html {
  scroll-behavior: smooth;
}